# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
cudatoolkit=11.3.1=h59b6b97_2
huggingface_hub=0.10.1=py310haa95532_0
tokenizers=0.11.4=py310he5181cf_1
transformers=4.24.0=py310haa95532_0